@media (min-width: $tablet-width) {
  .additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additionally__item {
    max-width: 285px;
    width: 100%;

    &:nth-child(odd) {
      margin-right: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    margin-bottom: 46px;
  }

  .additionally__item {
    max-width: 245px;
    width: 100%;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  .additionally__item .field-checkbox {
    margin-bottom: 0;
  }
}
