.additional-card-product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $color-black-2;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.additional-card-product__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.additional-card-product__unit {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 14px;
  color: $color-grey-brown;
}

.additional-card-product__price {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: $color-grey-brown;
}

.additional-card-product__to-order {
  display: block;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .additional-card-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-card-product__unit {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-card-product__price {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional-card-product {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .additional-card-product__title {
    flex-basis: 180px;
  }

  .additional-card-product__wrapper {
    flex-basis: 245px;
  }

  .additional-card-product__to-order {
    flex-basis: 245px;
    margin-bottom: 0;
  }
}
