.additional-product {
  list-style: none;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.additional-product__inner {
  border-bottom: 1px solid $bg-color-white-5;
}

.additional-product__item:first-child .additional-product__inner {
  border-top: 1px solid $bg-color-white-5;
}

@media (min-width: $tablet-width) {
  .additional-product {
    margin-bottom: 71px;
  }

  .additional-product__inner {
    border-left: 1px solid $bg-color-white-5;
    border-right: 1px solid $bg-color-white-5;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 37px;
    padding-right: 36px;
  }

  .additional-product__item:last-child .additional-product__inner {
    border-bottom: 1px solid $bg-color-white-5;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    max-width: 895px;
    width: 100%;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .additional-product__inner {
    border-left: none;
    border-right: none;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 0;
  }
}
