.advantage__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.advantage__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 30px;
}

.advantage__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage__item {
  margin-bottom: 30px;
}

.advantage__description {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-brown;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantage__wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }

  .advantage__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantage__item {
    max-width: 235px;

    &:nth-child(odd) {
      margin-right: 160px;
    }
  }

  .advantage__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantage__wrapper {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .advantage__list {
    justify-content: space-between;
  }

  .advantage__item {
    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
