.advantage__wrapper {
  margin-bottom: 42px;
}

.advantage__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 29px;
}

.advantage__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $bg-color-green-1;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    margin-right: 20px;
  }
}

.advantage__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px;
  }
}

.advantage__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px;
  }
}

.advantage__item--dining::before {
  background-image: url("../img/advantage-dining@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px;
  }
}

.advantage__item--clock::before {
  background-image: url("../img/advantage-clock@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px;
  }
}

.advantage__description {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-brown;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantage__wrapper {
    margin-bottom: 83px;
  }

  .advantage__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 71px;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantage__item {
    max-width: 245px;
    display: block;
    position: relative;

    &::before {
      content: "";
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -40px;
      right: 16px;
      z-index: -1;
      width: 115px;
      height: 235px;
      font-weight: 400;
      font-size: 281px;
      line-height: 281px;
      color: $bg-color-white-1;
    }

    &:first-child {
      margin-bottom: 134px;
    }

    &:nth-child(odd) {
      margin-right: 139px;
    }
  }

  .advantage__item--leaf::after {
    content: "1";
  }

  .advantage__item--powder::after {
    content: "2";
  }

  .advantage__item--dining::after {
    content: "3";
  }

  .advantage__item--clock::after {
    content: "4";
  }

  .advantage__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantage__wrapper {
    margin-bottom: 106px;
  }

  .advantage__title {
    margin-bottom: 73px;
  }

  .advantage__list {
    justify-content: space-between;
  }

  .advantage__item {
    &:first-child {
      margin-bottom: 20px;
    }

    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
