.body {
  font-family: $base-font-family, $more-one-font-family, sans-serif;
  color: $base-color;
  font-size: $base-font-size;
  font-weight: normal;
  font-style: normal;
  line-height: $base-line-height;
  letter-spacing: normal;
}
