.button {
  line-height: 20px;
  text-align: center;
  color: $color-white;
  background-color: $bg-color-green-1;
  text-transform: uppercase;
}

.button--fs14 {
  font-size: 14px;
  line-height: 18px;
}
