.button {
  line-height: 20px;
  text-align: center;
  color: $color-white;
  background-color: $bg-color-green-1;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--fs14 {
  font-size: 14px;
  line-height: 18px;
}
