.card-product__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card-product__title {
  order: 1;
}

.card-product__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-black-1;
  text-transform: uppercase;
}

.card-product__link-image {
  flex-shrink: 0;
}

.card-product__image {
  display: block;
  width: 140px;
  height: 144px;
}

.card-product__description {
  font-family: $more-one-font-family;
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-brown;
  order: 2;
  margin-left: auto;
  width: 150px;
}

@media (min-width: $table-width) {
  .card-product__title {
    flex-basis: 124px;
  }

  .card-product__link {
    font-size: 20px;
    text-align: center;
  }

  .card-product__image {
    background-image: url("../img/chicken-small-tablet@1x.png");
    background-repeat: no-repeat;
    width: 0;
    height: 172px;
    margin-bottom: 30px;
    padding-left: 324px;
  }

  .card-product__description {
    font-size: 16px;
  }

  .card-product__row {
    border-bottom: 1px solid $bg-color-white-3;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
