.card-product__link  {
  font-weight: $regular-font-weight;
  line-height: 1.25;
  color: $color-black-1;
  text-transform: uppercase;
}

.card-product__description {
  font-family: $more-one-font-family;
  font-size: 0.75em;
  line-height: 1.33;
  color: $color-grey-brown;
}
