.catalog-goods__wrapper {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
}

.catalog-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-goods__wrapper {
    padding-top: 108px;
  }
}
