.characteristic {
  display: flex;
  align-items: flex-start;
}

.characteristic__one {
  margin-right: 32px;
}

.characteristic__one,
.characteristic__two {
  width: 124px;
  border: 1px solid $bg-color-white-4;
  border-radius: 3px;
  padding-top: 13px;
  padding-bottom: 0;
}

.characteristic__value {
  display: block;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.characteristic__label {
  display: block;
  max-width: 60px;
  position: relative;
  bottom: -15px;
  box-shadow: 0 0 0 6px $bg-color-white-1;
  background-color: $bg-color-white-1;
  font-family: $more-one-font-family;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: $color-grey-brown;
  margin: 0 auto;
  margin-top: -6px;
}

@media (min-width: $tablet-width) {
  .characteristic__one,
  .characteristic__two {
    width: 162px;
    padding-top: 14px;
  }

  .characteristic__one {
    margin-right: 42px;
  }

  .characteristic__value {
    font-size: 30px;
    line-height: 37px;
  }

  .characteristic__label {
    max-width: 130px;
    bottom: -6px;
    box-shadow: 0 0 0 0 $color-white;
    background-color: $color-white;
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .characteristic__label {
    background-color: transparent;
  }
}
