.characteristic__value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $color-black-1;
  text-transform: uppercase;
}

.characteristic__label {
  font-family: $more-one-font-family;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-grey-brown;
  text-transform: lowercase;
}
