.contacts__block--bg {
  background-color: $bg-color-white-1;
}

.contacts__block {
  position: relative;
  z-index: 10;
  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
}

.contacts__invite {
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__address {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-brown;
  margin: 0;
}

.contacts__box-map {
  background-color: $bg-color-white-2;
  height: 400px;
  margin-top: -19px;
}

@media (min-width: $tablet-width) {
  .contacts__block {
    padding-top: 64px;
    padding-bottom: 56px;
    padding-left: 71px;
    padding-right: 71px;
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 25px;
    flex-basis: 154px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    flex-basis: 154px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__block--bg {
    background-color: $color-white;
  }

  .contacts {
    position: relative;
  }

  .contacts__block {
    position: absolute;
    top: 90px;
    left: 50px;
    z-index: 10;
    max-width: 570px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__block {
    background-color: $color-white;
    top: 95px;
    left: 40px;
    padding-top: 64px;
    padding-bottom: 57px;
    padding-left: 76px;
    padding-right: 88px;
  }

  .contacts__box-map {
    margin-top: 0;
  }
}
