.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  font-family: $more-one-font-family;
  line-height: 16px;
  color: $color-grey-brown;
}

@media (min-width: $table-width) {
  .copyright__text {
    text-align: right;
  }
}
