.field-textarea {
  line-height: 18px;
  color: $color-grey-brown;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (min-width: $table-width) {
  .field-textarea {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
