.food-for-cat__wrapper {
  background-color: $bg-color-green-2;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 11px;
  padding-top: 26px;
  min-height: 305px;
}

.food-for-cat__header {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-white;
  margin: 0;
  margin-bottom: 25px;
}

.food-for-cat__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  margin: 0;
}

.food-for-cat__box-image {
  margin-top: -150px;
  margin-bottom: 4px;
}

.food-for-cat__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
}

.food-for-cat__to-selection-programm {
  display: block;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .food-for-cat {
    position: relative;
  }

  .food-for-cat__wrapper {
    background-color: transparent;
    background-image: none;
    background-repeat: none;
    background-position: none;
    padding-top: 0;
  }

  .food-for-cat__header {
    max-width: 415px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $base-color;
    margin-left: 117px;
    margin-bottom: 42px;
  }

  .food-for-cat__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $base-color;
    margin-right: 30px;
    margin-left: 118px;
  }

  .food-for-cat__box-image {
    margin-top: -114px;
    margin-bottom: 0;
  }

  .food-for-cat__image {
    width: 709px;
    height: 609px;
  }

  .food-for-cat__to-selection-programm {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 230px;
    left: 119px;
    margin: 0;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .food-for-cat__wrapper {
    position: relative;
    min-height: 612px;
    margin-bottom: -57px;

    &::after {
      content: "";
      display: block;
      width: 650px;
      height: 696px;
      background-color: $bg-color-green-2;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: -221px;
      right: 1px;
      z-index: -1;
    }
  }

  .food-for-cat__header {
    margin-top: 93px;
  }

  .food-for-cat__box-image {
    margin-top: 0;
    position: absolute;
    top: -79px;
    left: 490px;
  }

  .food-for-cat__image {
    width: 552px;
    height: 499px;
  }

  .food-for-cat__to-selection-programm {
    top: 235px;
    left: 120px;
  }
}
