.food-for-cat {
  margin: 20px;
}

.food-for-cat__wrapper {
  background-color: $bg-color-green-2;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.food-for-cat__header {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-white;
}

.food-for-cat__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $color-white;
}

.food-for-cat__box-image {
  width: 280px;
  height: 270px;
}
