.list-goods__item {
  border-top: 1px solid $bg-color-white-1;

  &:last-child {
    border-bottom: 1px solid $bg-color-white-1;
  }
}

.list-goods__to-order {
  display: block;
  margin-bottom: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .list-goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .list-goods__item {
    max-width: 324px;
    width: 100%;
    border: 1px solid $bg-color-white-1;
    margin-bottom: 138px;
    margin-right: 60px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 45px;
    }

    &:last-child {
      border: 1px solid $bg-color-white-1;
    }
  }

  .list-goods__to-order {
    max-width: 249px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .list-goods__item:nth-child(even) {
    margin-right: 80px;
  }

  .list-goods__item {
    max-width: 245px;
    margin-right: 80px;
    margin-bottom: 142px;

    &:nth-last-child(-n+4) {
      margin-bottom: 53px;
    }
  }

  .list-goods__item:nth-child(4n+4) {
    margin-right: 0;
  }

  .list-goods__to-order {
    max-width: 169px;
  }
}
