.living-example {
  background-color: $bg-color-white-1;
}

.living-example__wrapper {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.living-example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $color-black-1;
  margin: 0;
  margin-bottom: 30px;
}

.living-example__description {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-brown;
  margin: 0;
  margin-bottom: 20px;
}

.living-example__characteristics {
  margin-bottom: 20px;
}

.living-example__costs {
  margin-bottom: 30px;
}

.living-example__costs-value {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $color-black-1;
  text-transform: uppercase;
}

.living-example__box-photo {
  width: 311px;
  height: 232px;
  padding-bottom: 30px;
}

.living-example__toggles {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

@media (min-width: $table-width) {
  .living-example {
    background-color: transparent;
    border-top: 1px solid $bg-color-white-3;
  }

  .living-example__wrapper {
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .living-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .living-example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .living-example__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .living-example__costs {
    max-width: 180px;
    width: 100%;
    text-align: right;
  }

  .living-example__costs-value {
    font-size: 20px;
  }

  .living-example__box-photo {
    width: auto;
    height: auto;
    background-image: linear-gradient(to bottom, transparent 169px, $bg-color-white-1 -169px);
    margin-left: -20px;
    margin-right: -20px;
  }

  .living-example__photo {
    display: block;
    background-image: url("../img/before-tablet@1x.png");
    background-repeat: no-repeat;
    width: 0;
    height: 517px;
    margin: 0 auto;
    padding-left: 690px;
  }

  .living-example__toggles {
    background-color: $bg-color-white-1;
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    border-top: none;
  }

  .living-example__wrapper {
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
  }

  .living-example__photo {
    background-image: url("../img/before-desktop@1x.png");
  }
}
