.living-example {
  background-color: $bg-color-white-1;
}

.living-example__wrapper {
  padding-bottom: 36px;
}

.living-example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 24px;
  padding-top: 16px;
}

.living-example__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.living-example__description {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-brown;
  margin: 0;
  margin-bottom: 25px;
}

.living-example__characteristics {
  margin-bottom: 30px;
}

.living-example__costs {
  margin-bottom: 41px;
  text-align: center;
}

.living-example__costs-value {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.living-example__photo {
  position: relative;
}

.living-example__box-photo-before {
  display: block;
  width: 311px;
  height: 232px;
  margin: 0 auto;
  transform: translateX(-20px);
}

.living-example__box-photo-after {
  position: absolute;
  z-index: -10;
  top: 0;
  width: 311px;
  height: 240px;
  margin: 0 auto;
  margin-left: -20px;
}

.living-example__toggles {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .living-example {
    position: relative;
    background-color: transparent;
    border-top: 1px solid $bg-color-white-3;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -10;
      bottom: 0;
      width: 50%;
      height: 463px;
    }

    &::before {
      left: 0;
      background-color: #f2f2f2;
    }

    &::after {
      right: 0;
      background-color: #ebebeb;
    }
  }

  .living-example__wrapper {
    padding-bottom: 67px;
  }

  .living-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 42px;
    margin-bottom: 65px;
    padding-top: 0;
  }

  .living-example__list {
    margin-bottom: 13px;
  }

  .living-example__description {
    max-width: 676px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .living-example__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
  }

  .living-example__characteristics {
    margin-bottom: 0;
  }

  .living-example__costs {
    max-width: 180px;
    width: 100%;
    text-align: right;
    margin-bottom: 0;
    font-size: 20px;
  }

  .living-example__costs-value {
    font-size: 20px;
  }

  .living-example__photo {
    display: flex;
  }

  .living-example__box-photo-before {
    width: 338px;
    min-height: 499px;
    margin: 0;
    margin-top: 18px;
    margin-left: 16px;
    flex-shrink: 0;
    overflow: hidden;
  }

  .living-example__photo-before {
    min-width: 690px;
    min-height: 517px;
    margin-top: -18px;
  }

  .living-example__box-photo-after {
    position: static;
    z-index: auto;
    right: 0;
    width: 298px;
    height: 517px;
    margin: 0;
    flex-shrink: 0;
    overflow: hidden;
  }

  .living-example__photo-after {
    min-width: 690px;
    min-height: 517px;
    margin-left: -338px;
  }

  .living-example__toggles {
    max-width: 569px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    position: relative;
    border-top: none;

    &::before {
      width: 75%;
    }

    &::after {
      width: calc(50% - 322px);
    }
  }

  .living-example__wrapper {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 34px;
  }

  .living-example__title {
    margin-bottom: 146px;
  }

  .living-example__description {
    max-width: 432px;
    margin-bottom: 69px;
  }

  .living-example__characteristics {
    margin-bottom: 55px;
  }

  .living-example__block {
    display: flex;
  }

  .living-example__inner {
    display: block;
    margin-bottom: 0;
  }

  .living-example__costs {
    max-width: 100%;
    text-align: left;
    margin-bottom: 23px;
  }

  .living-example__costs-price {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 60px;
  }

  .living-example__photo {
    margin-bottom: 0;
    position: absolute;
    bottom: 135px;
    right: 68px;
  }

  .living-example__box-photo-before {
    width: 365px;
    margin-left: 0;
  }

  .living-example__box-photo-after {
    width: 217px;
  }

  .living-example__photo-after {
    margin-left: -365px;
  }

  .living-example__toggles {
    position: absolute;
    bottom: 68px;
    right: 0;
    width: 100%;
  }
}
