@media (max-width: $mobile-width-only) {
  .main-menu-toggle {
    position: absolute;
    top: 11px;
    right: 19px;
    padding: 0;
    height: 19px;
    vertical-align: baseline;
    background-color: transparent;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .main-menu-toggle {
    display: none;
  }
}
