.more-goods {
  margin: 0 20px;
}

.more-goods__label {
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $color-black-1;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 10px;
}

.more-goods__taste {
  font-family: $more-one-font-family;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-grey-brown;
  margin-bottom: 20px;
}

.more-goods__show-all {
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $color-grey-brown;
  background-color: $bg-color-white-1;
  text-transform: uppercase;
  display: block;
  margin-bottom: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: $table-width) {
  .more-goods {
    margin: 0 30px;
  }

  .more-goods__wrapper {
    max-width: 324px;
    min-height: 432px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .more-goods__label {
    margin-top: 0;
  }
}
