.more-goods {
  margin: 0 20px;
}

.more-goods__label {
  font-weight: $regular-font-weight;
  line-height: 1.25;
  text-align: center;
  color: $color-black-1;
  text-transform: uppercase;
}

.more-goods__taste {
  font-family: $more-one-font-family;
  font-size: 0.75em;
  line-height: 1.33;
  text-align: center;
  color: $color-grey-brown;
}

.more-goods__show-all {
  font-weight: $regular-font-weight;
  line-height: 1.25;
  text-align: center;
  color: $color-grey-brown;
  background-color: $bg-color-white-1;
  text-transform: uppercase;
}
