.more-goods__wrapper {
  &::before {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 23px;
  }
}

.more-goods__label {
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}

.more-goods__taste {
  font-family: $more-one-font-family;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-grey-brown;
  margin: 0;
  margin-bottom: 21px;
}

.more-goods__show-all {
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-grey-brown;
  background-color: #f2f2f2;
  display: block;
  margin-bottom: 24px;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .more-goods__wrapper {
    margin-bottom: 20px;
    max-width: 324px;
    min-height: 432px;

    &::before {
      width: 61px;
      height: 61px;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .more-goods__label {
    font-size: 20px;
  }

  .more-goods__taste {
    font-family: $more-one-font-family;
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .more-goods__wrapper {
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
