.page-header--bg {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    min-height: 306px;
    width: 100%;
    background-color: $bg-color-green-2;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
  }
}

.page-header__wrapper {
  position: relative;
  margin-bottom: 14px;
}

.page-header__logo-link {
  display: block;
  margin-top: 11px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: $base-color;
}

.page-header__logo-image {
  display: block;
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-header--bg {
    &::after {
      content: none;
    }
  }

  .page-header__wrapper {
    position: static;
    display: flex;
    justify-content: center;
    margin-bottom: 41px;
    padding-top: 24px;
  }

  .page-header__logo-link {
    margin-top: 0;
    margin-left: 0;
    margin-right: 95px;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--bg {
    &::after {
      content: "";
      top: 0;
      min-height: 696px;
      width: 50vw;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: left;
    }
  }

  .page-header__wrapper {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 59px;
    padding-top: 53px;
    justify-content: space-between;
  }

  .page-header__logo-link {
    margin-top: 0;
    margin-right: 0;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
