.page-header {
  position: relative;
}

.page-header__logo-link {
  display: block;
  margin-top: 11px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.page-header__logo-image {
  display: block;
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 41px;
  }

  .page-header__logo-link {
    margin-top: 0;
    margin-left: 0;
    margin-right: 95px;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 53px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
