.page-main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  margin-bottom: 20px;
  margin-left: 20px;
}

@media (min-width: $table-width) {
  .page-main__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
