.popular-products__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $table-width) {
  .popular-products__wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .popular-products__wrapper {
    margin-left: 55px;
    margin-right: 55px;
  }

  .popular-products__list {
    display: flex;
  }
}
