.product__item {
  position: relative;
  background-color: $bg-color-white-1;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 51px;
    top: 22px;
    left: 20px;
    background-color: $bg-color-green-1;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 20px;
  }

  &:nth-child(2) {
    margin-bottom: 16px;
    padding-top: 27px;
  }
}

.product__title-block {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.product__item:nth-child(2) .product__title-block {
  margin-bottom: 30px;
}

.product__icon-svg {
  z-index: 10;
  margin-left: 10px;
  margin-right: 25px;
  fill: black;
}

.product__icon-svg--weight {
  margin-left: -7px;
  margin-right: 11px;
}

.product__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  order: 2;
}

.product__description {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-brown;
  margin: 0;
  margin-bottom: 14px;

  &::after {
    content: "";
    display: block;
    width: 240px;
    height: 1px;
    background-color: $bg-color-white-3;
    margin-top: 20px;
  }
}

.product__button {
  line-height: 16px;
  color: $base-color;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 6px;
    right: -37px;
  }

  &:hover,
  &:focus {
    &::after {
      width: 34px;
      right: -46px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 34px;
      right: -46px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .product__item {
    margin-bottom: 30px;
    padding-top: 76px;
    padding-bottom: 58px;
    padding-left: 52px;

    &::before {
      width: 200px;
      height: 200px;
      top: 92px;
      left: auto;
      right: 41px;
    }

    &:nth-child(2) {
      padding-top: 76px;
    }
  }

  .product__title-block {
    display: block;
    margin-bottom: 25px;
  }

  .product__item:nth-child(2) .product__title-block {
    margin-bottom: 25px;
  }

  .product__icon-svg {
    position: absolute;
  }

  .product__icon-svg--slim {
    top: 79px;
    right: 66px;
    width: 141px;
    height: 194px;
  }

  .product__icon-svg--weight {
    top: 133px;
    right: 16px;
    width: 268px;
    height: 113px;
    margin-left: -7px;
    margin-right: 11px;
  }

  .product__title {
    font-size: 36px;
  }

  .product__description {
    max-width: 372px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;

    &::after {
      content: "";
      display: none;
    }
  }

  .product__item:nth-child(2) .product__description {
    max-width: 342px;
  }

  .product__button {
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 9px;
      right: -49px;
    }

    &:hover,
    &:focus {
      &::after {
        right: -58px;
      }
    }

    &:active {
      &::after {
        right: -58px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .product__item {
    max-width: 570px;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 58px;

    &::before {
      width: 100px;
      height: 100px;
      top: 46px;
      left: 50px;
      right: 41px;
    }

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:nth-child(2) {
      margin-bottom: 30px;
      padding-top: 65px;
    }
  }

  .product__title-block {
    display: flex;
    margin-bottom: 43px;
  }

  .product__item:nth-child(2) .product__title-block {
    margin-bottom: 63px;
  }

  .product__icon-svg {
    position: static;
    margin-left: 13px;
    margin-right: 78px;
  }

  .product__icon-svg--slim {
    width: 71px;
    height: 97px;
  }

  .product__icon-svg--weight {
    width: 134px;
    height: 57px;
    margin-left: -18px;
    margin-right: 46px;
  }

  .product__title {
    text-align: center;
  }

  .product__description {
    max-width: 462px;
    margin-bottom: 32px;
  }

  .product__item:nth-child(2) .product__description {
    max-width: 446px;
  }
}
