.product__item {
  background-color: $bg-color-white-1;
  margin: 20px;
  padding: 20px;
}

.product__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $color-black-1;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.product__description {
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey-brown;
  margin-bottom: 30px;
}

.product__button {
  font-weight: 400;
  line-height: 16px;
  color: $color-black-1;
  text-transform: uppercase;
}

@media (min-width: $table-width) {
  .product__title {
    font-size: 36px;
  }

  .product__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .product__button {
    font-size: 20px;
    line-height: 20px;
  }
}
