.programm-selection__wrapper {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.programm-selection__to-do {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 230px;
  margin: 0;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .programm-selection__wrapper {
    margin-top: 0;
    margin-bottom: 72px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .programm-selection__to-do {
    font-size: 20px;
    line-height: 30px;
    max-width: 325px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .programm-selection__wrapper {
    margin-bottom: 82px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
