.questionnaire__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.questionnaire__fieldset--about-cat {
  margin-bottom: 13px;
}

.questionnaire__fieldset--advice {
  margin-bottom: 28px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.questionnaire__fieldset--cat-owner {
  margin-bottom: 17px;
}

.questionnaire__fieldset--commemt {
  margin-bottom: 28px;
}

.questionnaire__fieldset--additionally {
  margin-bottom: 17px;
}

.questionnaire__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-left: -20px;
  margin-right: -25px;
  padding-left: 20px;
  padding-right: 25px;
}

.questionnaire__legend--contact-data {
  margin-bottom: 33px;
}

.questionnaire__legend--comment {
  margin-bottom: 35px;
}

.questionnaire__legend--additionally {
  margin-bottom: 41px;
}

.questionnaire__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.questionnaire__item {
  margin-bottom: 11px;
}

.questionnaire__list--advice {
  padding-top: 27px;
  padding-bottom: 3px;
}

.questionnaire__label {
  font-weight: 400;
  line-height: 18px;
  color: $color-black-2;
  text-transform: uppercase;
}

.questionnaire__wrapper {
  margin-bottom: 33px;
}

.questionnaire__send-request {
  vertical-align: baseline;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 9px;
}

.questionnaire__required-fields {
  display: block;
  font-family: $more-one-font-family;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $color-grey-brown;
}

@media (min-width: $tablet-width) {
  .questionnaire__fieldset--about-cat {
    margin-bottom: 56px;
  }

  .questionnaire__fieldset--advice {
    margin-bottom: 73px;
  }

  .questionnaire__fieldset--cat-owner {
    margin-bottom: 46px;
  }

  .questionnaire__fieldset--commemt {
    margin-bottom: 64px;
  }

  .questionnaire__fieldset--additionally {
    margin-bottom: 13px;
  }

  .questionnaire__legend {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-left: -40px;
    margin-right: -45px;
    padding-left: 40px;
    padding-right: 45px;
  }

  .questionnaire__legend--contact-data {
    margin-bottom: 77px;
  }

  .questionnaire__legend--comment {
    margin-bottom: 77px;
  }

  .questionnaire__legend--additionally {
    margin-bottom: 67px;
  }

  .questionnaire__item {
    margin-bottom: 17px;
  }

  .questionnaire__list--advice {
    padding-top: 33px;
    padding-bottom: 3px;
    padding-left: 42px;
    padding-right: 10px;
  }

  .questionnaire__label {
    font-size: 20px;
    line-height: 20px;
  }

  .questionnaire__wrapper {
    display: flex;
    align-items: center;
  }

  .questionnaire__send-request {
    max-width: 283px;
    font-size: 20px;
    margin-right: 62px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .questionnaire__required-fields {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 69px;
  }

  .questionnaire__fieldset--about-cat,
  .questionnaire__fieldset--advice {
    margin-bottom: 0;
    max-width: 570px;
  }

  .questionnaire__fieldset--cat-owner {
    margin-bottom: 46px;
  }

  .questionnaire__fieldset--commemt {
    margin-bottom: 66px;
  }

  .questionnaire__fieldset--additionally {
    margin-bottom: 9px;
  }

  .questionnaire__send-request {
    max-width: 569px;
  }
}
