.special-offer {
  margin: 0 20px;
}

.special-offer__wrapper {
  background-color: $bg-color-green-3;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.special-offer__present-text {
  font-family: $more-one-font-family;
  line-height: 20px;
  text-align: center;
  color: $color-white;
}
