// base font styles
$base-font-family: "Oswald", "Arial", sans-serif;
$more-one-font-family: "Arial", sans-serif;
$base-line-height: normal;
$base-color: black;

// colors
$color-black-1: #111111;
$color-black-2: #222222;
$color-grey-brown: #444444;
$color-white: white;
$bg-color-white-1: #f2f2f2;
$bg-color-white-2: #fdfaf2;
$bg-color-green-1: #68b738;
$bg-color-green-2: #65ab39;
$bg-color-green-3: #71b645;
