// variables
// base font styles
$base-font-family: Oswald;
$more-one-font-family: Arial;
$base-font-size: 16px;
$base-line-height: normal;
$base-color: black;
$regular-font-weight: 400;
$medium-font-weight: 500;

// colors
$color-black-1: #111111;
$color-black-2: #222222;
$color-grey-brown: #444444;
$color-white: white;
$bg-color-white-1: #f2f2f2;
$bg-color-white-2: #fdfaf2;
$bg-color-green-1: #68b738;
$bg-color-green-2: #65ab39;
$bg-color-green-3: #71b645;

/* Link fonts */
@font-face {
  font-family: $base-font-family;
  font-weight: $regular-font-weight;
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2")
        url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: $base-font-family;
  font-weight: $medium-font-weight;
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2") format("woff2")
        url("../fonts/oswaldmedium.woff") format("woff");
}

@import "blocks/body.scss";

// general styles
@import "blocks/list-reset.scss";
@import "blocks/link-reset.scss";
@import "blocks/margin-reset.scss";
@import "blocks/fieldset-reset.scss";


// header styles
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/page-header.scss";

// button style
@import "blocks/button.scss";

// main menu toggle
@import "blocks/main-menu-toggle.scss";

// page index
// background-color, background-image, font style
@import "blocks/food-for-cat.scss";
@import "blocks/product.scss";
@import "blocks/living-example.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";

// advatages
@import "blocks/advantage.scss";

// page catalog-products
// background-color, background-image
@import "blocks/special-offer.scss";

// font styles
@import "blocks/card-product.scss";
@import "blocks/more-goods.scss";

// layout styles
@import "blocks/catalog-goods.scss";
@import "blocks/additional-goods.scss";

// page programm-selection
// font styles
@import "blocks/programm-selection.scss";
@import "blocks/label-questionnaire.scss";
// @import "blocks/field-text.scss";
@import "blocks/field-value.scss";
@import "blocks/questionnaire.scss";
